[package]
name = "wfedit_derive"
version = "0.1.0"
edition = "2024"

[lib]
proc-macro = true

[lints]
workspace = true

[dependencies]
wfcommon = { path = "../wfcommon" }
proc-macro2 = "1.0.104"
quote = "1.0.42"
syn = "2.0.112"
